body{
    background-color: rgb(203, 208, 255);
}

h1{
    text-align: center;
}

div{
    width: 60%;
    margin-left: 20%;
    background-color: rgb(138, 255, 125);
}

img{
    width: 40%;
    margin-left: 30%;
}

table{
    border: 1px solid black;
    border-collapse: separate;
}

input, select{
    width: 50%;
    height: 20px;
    margin-top: 15px;
}

.titulo{
    background-color: lightgray;
    padding: 2px;
    padding-left: 6px;
    border: 2px solid gray;
}

form{
    text-align: right;
    padding-right: 25%;
}